*{
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: sans-serif;
}

/*...................
Navbar Start
********************/

nav{
    height: 80px;
    width: 100%;
    background: #7a6df3;
}
nav .logo{
    font-size: 35px;
    font-weight: bold;
    color: rgb(246, 255, 255);
    padding: 0 100px;
    line-height: 80px;

}

nav ul{
    float: right;
    margin-right: 40px;
}
nav li.khan{
    display: inline-block;
    line-height: 80px;
    margin: 0 20px;
    font-weight: bold;
    
}
nav  a{
    color: rgb(244, 255, 255);
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;

}

a.lala, .khan a:hover{
    border: 1px solid azure;
    transform: 5s;
}

nav #icon{
color: azure;
font-size: 30px;
line-height: 80px;
margin-right: 40px;
cursor: pointer;
display:none;
}

/*...................
Navbar End
********************/

/*...................
Sidmenu Start
********************/
.sidbar{
    position: fixed;
    right: 500rem;
    width: 20rem;
    height: 100vh;
    background-color: #7a6df3;
    transform: 50s;
}
.sidbar ul{ 

    margin-left: 50px;

}
.sidmenu{
    margin-top: 50px;
    box-sizing: border-box;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    height: 10vh;

}

.sidmenu:hover{
    color: #bdb6fc;
    background-color:#bdb6fc;
    padding: 20px 5px;
    border-radius: 5px;
}
.sidbar li.act{
    color: #bdb6fc;
    background-color:#bdb6fc;
    padding: 20px 5px;
    border-radius: 5px;
}

.sidmenu a{

    color: azure;
}
.icon{
    position: fixed;
    padding-left: 10px;
    color: azure;
    background-color: #7a6df3;
    width: 2rem;
    height: 100vh;
}

.sidshow{
left: 0rem;
}


/*...................
Sidmenu End
********************/


/* for medium screen */

@media only screen and (max-width:1148px) {

/*...................
Navbar Start
********************/

    label.logo{
        font-size: 32px;
        padding-left:  20px ;
    }

    nav ul{
        margin-right: 20px;
 }

 nav a{
    font-size: 17px;
 }

 /*...................
Navbar End
********************/

  }

  /* for very small screen */

  @media only screen and (max-width:982px) {

    /*...................
Navbar Start
********************/c


nav #icon{
    display: inline-block;
    float: right;
    
}

nav ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #7162f8;
    top: 80px;
    /* display: none; */
    left: -1000px;
    text-align: center;
    transform: 10s easein;
}

ul li.khan{
    display: block;
    margin: 30px 0;
    line-height:50px;
}

nav ul.show{
 /* display: block; */
 left: 0px;
}

/*...................
Navbar Start
********************/




  }
